<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <h1>Phant Server Configurator</h1>

    <p>
      Welcome to the phant server config utility. I'm sure I'll write something here that
      will barely explain how to use this thing
    </p>

    <hr>

    <div id="config" data-packages="{{packages}}">

      <div class="btn-group input">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
         <span class="glyphicon"></span> &nbsp;Add Input <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        </ul>
      </div>

      <div class="btn-group output">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
         <span class="glyphicon"></span> &nbsp;Add Output <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        </ul>
      </div>

      <div class="btn-group meta">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
         <span class="glyphicon"></span> &nbsp;Add Metadata <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        </ul>
      </div>

      <div class="btn-group keychain">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
         <span class="glyphicon"></span> &nbsp;Add Keychain <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        </ul>
      </div>

      <div class="btn-group manager">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
         <span class="glyphicon"></span> &nbsp;Add Manager <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        </ul>
      </div>

      <div class="inputs"></div>
      <div class="outputs"></div>
      <div class="metas"></div>
      <div class="keychains"></div>
      <div class="managers"></div>

      <script src="/partials/config/label.hbs" type="text/x-handlebars-template"></script>
      <script src="/partials/config/option.hbs" type="text/x-handlebars-template"></script>
      <script src="/partials/config/input.hbs" type="text/x-handlebars-template"></script>
      <script src="/partials/config/container.hbs" type="text/x-handlebars-template"></script>

    </div>

  </div>

</div>

<script>
  $(document).ready(function() {
    $('#config').configurator();
  });
</script>
