<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <h1>Phant Server Configurator</h1>

    <form id="config" role="form" data-packages="{{packages}}" action="/config" method="POST">

      <div class="form-group">
        <label>Input</label>
        <select name="input" class="form-control">
          <option></option>
        </select>
      </div>

      <div class="form-group">
        <label>Outputs</label>
        <select name="output" class="form-control" placeholder="Please select an output">
          <option></option>
        </select>
      </div>

      <div class="form-group">
        <label>Managers</label>
        <select name="manager" class="form-control">
          <option></option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Create!</button>

      <script src="/partials/config/option.hbs" type="text/x-handlebars-template"></script>

    </form>

  </div>

</div>

<script>
  $(document).ready(function() {
    $('#config').configurator();
  });
</script>
