<div class="panel panel-{{class}}">
  <div class="panel-heading">
    {{name}}
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  </div>
  <div class="panel-body">
    {{{config}}}
  </div>
</div>
